﻿body {
    padding-top: 50px;
}

.defaultText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:12pt;   
}

.rightPad{
    padding-right: 10px;
}
.ui-datepicker-year{
    color:grey;
}